@page "/createuser1"
@using crudApp.Models
@using User = crudApp.Models.User
@* @using crudApp.Services *@

<h3>Create User</h3>

<EditForm Model="@user">
    <InputText @bind-Value="user.Name" placeholder="Name" class="form-control" style="width: 450px;"/>
    <ValidationMessage For="@(() => user.Name)"/>
    
    <InputText @bind-Value="user.Email" placeholder="Email" class="form-control" style="width: 450px;"/>
    <ValidationMessage For="@(() => user.Email)"/>

    @* <InputText @bind-Value="user.Password" placeholder="Password" class="form-control" style="width: 450px;"/> *@
    @* <ValidationMessage For="@(() => user.Password)"/> *@


    <label for="users">Choose a Role:</label>
    <select @bind="user.RoleId" class="form-control" style="width: 200px;">
        <option value="Admin">Admin</option>
        <option value="User">User</option>
    </select>
    <br/>
    <button class="btn btn-primary" @onclick="CreateUsers">Add This User</button>
</EditForm>

@code {
    private User user = new User();

    [Inject]
    // private UserService userService { get; set; }

    // [Inject]
    private NavigationManager navigationManager { get; set; }

    private async Task CreateUsers()
    {
    // await userService.AddUserAsync(user);
        navigationManager.NavigateTo("/users");
    }

}