@page "/"

<PageTitle>Home</PageTitle>

<h1>CRUD App with Blazor</h1>

<p>This project was created using the Blazor WebAssembly framework, which allows developers to build interactive web UIs using C#. The application implements CRUD (Create, Read, Update, Delete) functionality for managing a list of users. The user interface was built using HTML and CSS with the help of the Bootstrap CSS framework. The application also uses ASP.NET Core and Entity Framework Core for server-side functionality and data storage, respectively. Overall, the combination of these technologies allows for the creation of a responsive and functional web application that can be deployed to a variety of platforms.</p>

<h2>Features</h2>

<p>This application allows you to perform the following operations:</p>

<ul>
    <li>Create new users with a first name, last name, email address, role, and department.</li>
    <li>View a list of all users.</li>
    <li>Edit the details of an existing user.</li>
    <li>Delete a user from the list.</li>
</ul>

<h2>Technologies Used</h2>

<p>This project was built using the following technologies:</p>

<ul>
    <li>Blazor WebAssembly</li>
    <li>C#</li>
    <li>ASP.NET Core</li>
    <li>Entity Framework Core</li>
    <li>HTML/CSS</li>
    <li>Bootstrap</li>
</ul>