@page "/"

<PageTitle>Index</PageTitle>

<h1>CRUD App with Blazor</h1>

<p>This project is a simple CRUD (Create, Read, Update, Delete) application built with Blazor, a .NET web framework for building interactive web UIs using C#.</p>

<h2>Features</h2>

<p>This application allows you to perform the following operations:</p>

<ul>
    <li>Create new users with a first name, last name, email address, role, and department.</li>
    <li>View a list of all users.</li>
    <li>Edit the details of an existing user.</li>
    <li>Delete a user from the list.</li>
</ul>

<h2>Technologies Used</h2>

<p>This project was built using the following technologies:</p>

<ul>
    <li>Blazor WebAssembly</li>
    <li>C#</li>
    <li>ASP.NET Core</li>
    <li>Entity Framework Core</li>
    <li>HTML/CSS</li>
    <li>Bootstrap</li>
</ul>
